* {
    font-family: 'Segoe UI', sans-serif;
}

#header_list_of_doing {
    text-transform: capitalize;
    margin: 10px 25px;
}

.list_to_do {
    width: 50%;
    min-width: 400px;
    max-width: 600px;
    height: auto;
    margin: 10px 15px;
    padding: 10px;
    list-style-type: none;
    word-break: break-all;
}

.list_to_do li {
    padding: 12px 10px 12px 40px;
}

.list_to_do li::before {
    padding-right: 20px;
    content: url('./icons/unchecked_16.png');
}
.list_to_do li::after {
    padding-left: 20px;
    content: '\2716';
    color: hsl(0, 67%, 42%);
}
.list_to_do li.checked_element::before {
    padding-right: 20px;
    content: url('./icons/checked_16.png');
}
.list_to_do li:nth-child(even) {
    background-color: hsl(180, 70%, 70%);
}
.list_to_do li:nth-child(odd) {
    background-color: hsl(180, 56%, 70%);
}
.list_to_do li.checked_element {
    background-color: hsl(180, 34%, 75%);
}
